.item-completed{
    opacity:0.2;
}

/*
Global styles
*/
html, body{
    height:100%;
    min-height:100%;
}

/*
Bootstrap3 Adjustments
*/
.row{
    margin-bottom:12px;
}
.row:last-of-type{
    margin-bottom:0;
}
a.list-group-item:nth-of-type(even){
    background-color:#e6e6e6;
}

/*
Preloader styles
*/
.preloader{
    background:#3498DB;
    height:100%;
    width:100%;
    position:relative;
}
.preloader-indicator{
    position:absolute;
    width:120px;
    height:60px;
    left:50%;
    top:50%;
    margin-left:-60px;
    margin-top:-30px;
}

/*
Logo Gent
*/
.navbar{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    -ms-border-radius:0;
    border-radius:0;
}
.navbar-brand .city{
    border-radius:6px;
    background:#0091be;
    color:#fff;
    padding:6px;
}
.navbar-brand .division{
    border-radius:6px;
    background:#fff;
    color:#0091be;
    padding:6px;
}

/*
Leaflet
*/
.leaflet-holder{
    min-height:260px;
    display:block;
    box-sizing:border-box;
    border:6px solid #aaa;
}

/*
School
*/
.school a{
    position:relative;
}
.school a i{
    position:absolute;
    right:9px;
    top:18px;
    font-size:1.76em;
}