<div class="row">
    <div class="col-xs-12">
        <select class="form-control" ng-model="form.basisschooltype" ng-options="bst.label for bst in basisschooltypes">
        </select>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="list-group">
            <a href="" ng-repeat="basisschool in basisscholen" class="list-group-item">
                <h4 class="list-group-item-heading">{{basisschool.roepnaam}}</h4>
                <p class="list-group-item-text">{{basisschool.aanbod}}</p>
            </a>
        </div>

    </div>
</div>