<div class="row">
    <div class="col-xs-12">
        <article class="school-details">
            <h1>{{basisschool.roepnaam}}</h1>
            <p class="list-group-item-text">
                {{basisschool.aanbod}}<br />
                {{basisschool.net}}<br />
                {{basisschool.straat}}
            </p>
        </article>
    </div>
</div>
<div class="row" ng-hide="isList">
    <div class="col-xs-12">
        <leafletoneplace lfl-place="lflplace"></leafletoneplace>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button type="button" ng-hide="isSchoolAFavorite" class="btn btn-primary" ng-click="addSchoolToFavorites()">Add To Favorites</button>
        <button type="button" ng-show="isSchoolAFavorite" class="btn btn-default" ng-click="removeSchoolFromFavorites()">Remove From Favorites</button>
    </div>
</div>